# path:   /home/klassiker/Projects/repos/tabbed/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/tabbed
# date:   2026-06-22T04:32:35+0200

/config.h
/tabbed
/tabbed.o
/xembed
/xembed.o
