# path:       /home/klassiker/.local/share/repos/tabbed/.gitignore
# author:     klassiker [mrdotx]
# github:     https://github.com/mrdotx/tabbed
# date:       2020-11-13T14:40:23+0100

/config.h
/tabbed
/tabbed.o
/xembed
/xembed.o
