# path:   /home/klassiker/.local/share/repos/tabbed/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/tabbed
# date:   2025-08-10T04:42:51+0200

/config.h
/tabbed
/tabbed.o
/xembed
/xembed.o
